<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{152,60}</string>
				<key>spriteSourceSize</key>
				<string>{152,60}</string>
				<key>textureRect</key>
				<string>{{0,69},{152,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_02_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{143,54}</string>
				<key>spriteSourceSize</key>
				<string>{143,54}</string>
				<key>textureRect</key>
				<string>{{0,130},{143,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_02_3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,56}</string>
				<key>spriteSize</key>
				<string>{106,82}</string>
				<key>spriteSourceSize</key>
				<string>{106,194}</string>
				<key>textureRect</key>
				<string>{{0,185},{106,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bird_02_extra_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{141,58}</string>
				<key>spriteSourceSize</key>
				<string>{141,58}</string>
				<key>textureRect</key>
				<string>{{161,0},{141,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>bird_02_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{160,68}</string>
				<key>spriteSourceSize</key>
				<string>{160,68}</string>
				<key>textureRect</key>
				<string>{{0,0},{160,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>icons/bird_02-uhd.png</string>
			<key>size</key>
			<string>{219,267}</string>
			<key>textureFileName</key>
			<string>icons/bird_02-uhd.png</string>
		</dict>
	</dict>
</plist>