<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,15}</string>
			<key>spriteSourceSize</key>
			<string>{38,15}</string>
			<key>textureRect</key>
			<string>{{0,0},{38,15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,13}</string>
			<key>spriteSourceSize</key>
			<string>{35,13}</string>
			<key>textureRect</key>
			<string>{{40,0},{35,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_3_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,13}</string>
			<key>spriteSize</key>
			<string>{26,23}</string>
			<key>spriteSourceSize</key>
			<string>{26,48}</string>
			<key>textureRect</key>
			<string>{{77,0},{26,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{35,12}</string>
			<key>spriteSourceSize</key>
			<string>{35,14}</string>
			<key>textureRect</key>
			<string>{{105,0},{35,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,17}</string>
			<key>spriteSourceSize</key>
			<string>{40,17}</string>
			<key>textureRect</key>
			<string>{{142,0},{40,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jetpack_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{51,44}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{184,0},{51,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jetpack_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,1}</string>
			<key>spriteSize</key>
			<string>{48,43}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{0,17},{48,43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jetpack_02_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-15,1}</string>
			<key>spriteSize</key>
			<string>{20,41}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{105,19},{20,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>jetpack_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{53,46}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{50,25},{53,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{148,19},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{105,41},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_05_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{27,9}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{237,0},{27,9}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_05_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{180,46},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{214,46},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{134,51},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{0,62},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_06_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{29,73},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{42,37}</string>
			<key>spriteSourceSize</key>
			<string>{42,39}</string>
			<key>textureRect</key>
			<string>{{63,73},{42,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{40,34}</string>
			<key>spriteSourceSize</key>
			<string>{40,36}</string>
			<key>textureRect</key>
			<string>{{214,78},{40,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_07_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{27,25}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{107,70},{27,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_07_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{44,39}</string>
			<key>spriteSourceSize</key>
			<string>{44,41}</string>
			<key>textureRect</key>
			<string>{{163,80},{44,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{107,99},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{0,91},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{29,107},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_08_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{61,112},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,30}</string>
			<key>spriteSourceSize</key>
			<string>{35,30}</string>
			<key>textureRect</key>
			<string>{{209,114},{35,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-6}</string>
			<key>spriteSize</key>
			<string>{24,15}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{139,80},{24,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_09_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-2}</string>
			<key>spriteSize</key>
			<string>{29,26}</string>
			<key>spriteSourceSize</key>
			<string>{32,30}</string>
			<key>textureRect</key>
			<string>{{156,121},{29,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_09_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,32}</string>
			<key>spriteSourceSize</key>
			<string>{37,32}</string>
			<key>textureRect</key>
			<string>{{95,131},{37,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,35}</string>
			<key>spriteSourceSize</key>
			<string>{30,35}</string>
			<key>textureRect</key>
			<string>{{0,139},{30,35}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_10_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{187,146},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_10_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{27,33}</string>
			<key>spriteSourceSize</key>
			<string>{27,35}</string>
			<key>textureRect</key>
			<string>{{37,146},{27,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_10_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,37}</string>
			<key>spriteSourceSize</key>
			<string>{32,37}</string>
			<key>textureRect</key>
			<string>{{216,146},{32,37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_11_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{134,149},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{72,165},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_11_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,12}</string>
			<key>spriteSize</key>
			<string>{29,7}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{256,0},{29,7}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_11_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,171},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{102,165},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{34,175},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_12_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{166,175},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_14_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{200,180},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_14_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,3}</string>
			<key>spriteSize</key>
			<string>{13,10}</string>
			<key>spriteSourceSize</key>
			<string>{24,16}</string>
			<key>textureRect</key>
			<string>{{232,180},{13,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_14_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{134,181},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_14_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{64,195},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_15_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,30}</string>
			<key>spriteSourceSize</key>
			<string>{35,30}</string>
			<key>textureRect</key>
			<string>{{232,192},{35,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_15_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{98,197},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_15_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{0,205},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_15_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,32}</string>
			<key>spriteSourceSize</key>
			<string>{37,32}</string>
			<key>textureRect</key>
			<string>{{127,210},{37,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_16_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{29,205},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_16_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{28,28}</string>
			<key>spriteSourceSize</key>
			<string>{28,28}</string>
			<key>textureRect</key>
			<string>{{166,209},{28,28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_16_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,11}</string>
			<key>spriteSize</key>
			<string>{27,4}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{196,212},{27,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_16_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{196,218},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_17_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{230,229},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_17_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{15,12}</string>
			<key>spriteSourceSize</key>
			<string>{15,26}</string>
			<key>textureRect</key>
			<string>{{98,226},{15,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_17_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,26}</string>
			<key>spriteSourceSize</key>
			<string>{27,26}</string>
			<key>textureRect</key>
			<string>{{61,229},{27,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_17_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{0,237},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_18_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,30}</string>
			<key>spriteSourceSize</key>
			<string>{34,30}</string>
			<key>textureRect</key>
			<string>{{90,240},{34,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_18_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-4}</string>
			<key>spriteSize</key>
			<string>{17,19}</string>
			<key>spriteSourceSize</key>
			<string>{17,27}</string>
			<key>textureRect</key>
			<string>{{34,237},{17,19}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_18_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,27}</string>
			<key>spriteSourceSize</key>
			<string>{30,27}</string>
			<key>textureRect</key>
			<string>{{166,239},{30,27}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_18_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,32}</string>
			<key>spriteSourceSize</key>
			<string>{36,32}</string>
			<key>textureRect</key>
			<string>{{126,244},{36,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_19_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{30,30}</string>
			<key>textureRect</key>
			<string>{{195,252},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_19_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{27,27}</string>
			<key>textureRect</key>
			<string>{{55,257},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_19_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{227,261},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_20_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,34}</string>
			<key>spriteSourceSize</key>
			<string>{30,34}</string>
			<key>textureRect</key>
			<string>{{0,271},{30,34}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_20_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{13,13}</string>
			<key>spriteSourceSize</key>
			<string>{13,31}</string>
			<key>textureRect</key>
			<string>{{36,256},{13,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_20_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{27,17}</string>
			<key>spriteSourceSize</key>
			<string>{27,30}</string>
			<key>textureRect</key>
			<string>{{164,271},{27,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_20_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,36}</string>
			<key>spriteSourceSize</key>
			<string>{32,36}</string>
			<key>textureRect</key>
			<string>{{84,272},{32,36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>player_ball_02_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,34}</string>
			<key>spriteSourceSize</key>
			<string>{34,34}</string>
			<key>textureRect</key>
			<string>{{122,278},{34,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_02_2_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>textureRect</key>
			<string>{{193,284},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_02_extra_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{4,4}</string>
			<key>spriteSourceSize</key>
			<string>{4,4}</string>
			<key>textureRect</key>
			<string>{{36,271},{4,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_ball_02_glow_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{36,36}</string>
			<key>textureRect</key>
			<string>{{36,286},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>chumiiu.geometry_dash_time_reborn/iconSheet.png</string>
		<key>size</key>
		<string>{263,322}</string>
		<key>textureFileName</key>
		<string>chumiiu.geometry_dash_time_reborn/iconSheet.png</string>
	</dict>
</dict>
</plist>